.loader {
    position: absolute;
    background-color: black;
    inset: -10em;
    clip-path: circle(0vmax at 0 0);
    transition: clip-path 1s ease-in-out;
    pointer-events: auto;
}

.notRendered {
    clip-path: circle(200vmax at 0 0);
}