.loader {
    position: absolute;
    background-color: black;
    inset: 0;
    clip-path: circle(0vmax at 50% 1em);
    transition: clip-path 1s ease-in-out;
    pointer-events: auto;
}

.notRendered {
    clip-path: circle(150vmax at 50% 0);
}