.navbarStyles {
    position: fixed;
    width: 100%;
    padding: 1em 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    user-select: none;

    .preloaderContainer {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        position: absolute;
        pointer-events: none;
    }

    .titleNav {
        z-index: 10;

        &.noClick {
            pointer-events: none;
        }

        * {
            cursor: pointer;
        }
    }

    a.titleNav {
        text-decoration: none;
        color: inherit;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }

    .headerPages {
        position: absolute;
        font-size: .85em;
        top: 1em;
        left: 50%;
        translate: -50% 0;
        display: flex;
        flex-direction: column;
        gap: .5em;
        font-family: 'Chocolate Classical Sans';
        font-weight: 400;
        pointer-events: none;

        .headerList {
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr;
            width: 24em;
            gap: 1em;
            overflow: hidden;

            li {
                list-style: none;
                display: flex;
                line-height: 1.4em;
                overflow-y: auto;
                transition: transform .35s ease, opacity .35s ease;

                span {
                    display: flex;
                    justify-content: center;
                    width: 101%;
                    flex-shrink: 0;
                    translate: 0 -101%;
                }

                &:first-child, &:last-child {
                    opacity: .5;
                }

                &:first-child span {
                    justify-content: end;
                }

                &:last-child span {
                    justify-content: start;
                }
            }

            .mainPageHeader {
                text-align: center;
                font-size: 1.4em;
            }
        }

        &.expandedFocus {
            .headerList {
                > li:first-child,
                > li:last-child {
                    opacity: 0;
                    transform: translateY(-140%);
                }
            }
        }
    }

    .socialMedia {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2.5em;

        .mediaContainer {
            list-style: none;
            font-size: 1em;
            color: #eee;
            translate: 0 -2em;

            &.showItem {
                animation: animateMedia .4s ease-in-out forwards;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #eee;
                transition: opacity .2s ease-in-out;

                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}

@keyframes animateMedia {
    from {
        translate: 0 -2em;
    }

    to {
        translate: 0;
    }
}