.page {
    padding: 3em;
    height: 100%;
    width: 100%;
    flex-shrink: 0;

    &.shadowPage {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f005;
        will-change: transform;
    }
}