.page {
    padding: 3em;
    height: 100%;
    width: 100%;
    flex-shrink: 0;

    &.shadowPage {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        will-change: transform;
        padding-inline: max(6vw, 5rem);
        padding-top: 6em;
    }
}