.pages {
    min-height: 100vh;
    background: #0c101c;

    .pagesContent {
        height: 100vh;
        display: flex;

        .pagesList {
            height: 100%;
            width: 100%;
            display: flex;

            >* {
                &.activeContainer {
                    z-index: 10;
                }
            }
        }
    }
}