.pages {
    min-height: 100vh;

    .pagesContent {
        height: 100vh;
        display: flex;

        .pagesList {
            height: 100%;
            width: 100%;
            display: flex;
        }
    }
}